@media (min-width:1025px){
       
    .warzone-container {
        background-image: url("../../../img/background.png");
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: transparent;
        padding: 10px;
    }

    .grid-item1 {
        
    }

    .title {       
        background-color: #00dfae; /* For browsers that do not support gradients */
        background-image: linear-gradient(to right, #00393f , #00dfae);
        width: 100%;        
        color: #fdfefe;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        height: 300px;
    }
 }
